{
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 100,
	"singleQuote": false,
	"bracketSpacing": true,
	"semi": false,
	"arrowParens": "always",
	"trailingComma": "none",
	"overrides": [
		{
			"files": "*.component.html",
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": "*.html",
			"options": {
				"parser": "html"
			}
		}
	]
}
