@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "assets/styles/utils";
@import "assets/styles/mixins";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	background-color: #111122;
	color: rgba(255,255,249,0.9);
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

button {
	cursor: pointer;
}
